
.text-center{
text-align: center;
}
.app-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.link-generation-card{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin:20px ;
  box-shadow: 0 0 10px 0 #ccc;
}
.user-input{
  display: block;
  width: 300px;
  margin-bottom: 10px;
  font-size: 20px;
  padding: 5px 10px;

}